 <style type="text/css">
   .flotPlot {
       width: 100%;
       height: 200px;
       margin-bottom: 10px;
   }
 </style>

<div> <strong>{{instrument_name}}</strong> 
<a id="edit_instrument_button" href="/xgds_instrument/edit/{{instrument_name}}/{{pk}}" class="mybutton small" target="_blank">Edit</a></div>
	<table>
		{{#if name}}
		<tr>
			<th><label for="id_name">Name:</label></th>
			<td>{{name}}</td>
		</tr>
		{{/if}}
		{{#if description}}
		<tr>
			<th><label for="id_description">Description:</label></th>
			<td>{{description}}</td>
		</tr>
		{{/if}}
		{{#if minerals}}
		<tr>
			<th><label for="id_minerals">Minerals:</label></th>
			<td>{{ minerals }}</td>
		</tr>
		{{/if}}
		
		<tr>
			<th><label for="id_acquisition_time">Acquisition time:</label></th>
			<td>{{prettyTime acquisition_time acquisition_timezone}}</td>
		</tr>
		{{#if flight_name}}
		<tr>
			<th><label for="id_flight">EVA:</label></th>
			<td>{{flight_name}}</td>
		</tr>
		{{/if}}
		{{#if ev_name}}
		<tr>
			<th><label for="id_ev_name">Resource:</label></th>
			<td>{{ev_name}}</td>
		</tr>
		{{/if}}
		{{#if collector_name}}
		<tr>
			<th><label for="id_ev_name">Collector:</label></th>
			<td>{{collector_name}}</td>
		</tr>
		{{/if}}
		{{#if manufacturer_data_file_url}}
		<tr>
			<th><label for="id_manufacturer_data_file">Manufacturer data file (.pdz,.a2r,.asd):</label></th>
			<td><a href="{{manufacturer_data_file_url}}">{{manufacturer_data_file_url}}</a></td>
		</tr>
		{{/if}}
		{{#if portable_data_file_url}}
		<tr>
			<th><label for="id_portable_data_file">Portable data file (.spc,.txt,.csv):</label></th>
			<td><a href="{{portable_data_file_url}}">{{portable_data_file_url}}</a></td>
		</tr>
		{{/if}}
		<tr>
			<th><label for="id_csv_data">CSV data file:</label></th>
			<td><a href="{{csvDataUrl}}">CSV</a></td>
		</tr>
		<tr>
			<th><label for="id_latitude">Latitude:</label></th>
			<td>{{lat}}</td>
		</tr>
		<tr>
			<th><label for="id_longitude">Longitude:</label></th>
			<td>{{lon}}</td>
		</tr>
		{{#if alt}}
		<tr>
			<th><label for="id_altitude">Altitude:</label></th>
			<td>{{alt}}</td>
		</tr>
		{{/if}}
		<div class="plot-container">
			<span class="alert" id="instrument_message"><br/><br/></span>
			<div id="plotDiv" class="flotPlot"></div>
		</div>
	</table>
