  <style type="text/css">
    .flotPlot {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
  </style>

<div> <strong>{{instrumentName}}</strong> <!--<a id="edit_instrument_button" href="/xgds_instrument/edit/{{pk}}" class="mybutton small" target="_blank">Edit</a> --></div>
	<table>
		<tr>
			<th><label for="id_acquisition_time">Acquisition time:</label></th>
			<td>{{prettyTime acquisition_time acquisition_timezone}}</td>
		</tr>
		{{#if flight}}
		<tr>
			<th><label for="id_flight">EVA:</label></th>
			<td>{{flight}}</td>
		</tr>
		{{/if}}
		{{#if ev_name}}
		<tr>
			<th><label for="id_ev_name">Resource:</label></th>
			<td>{{ev_name}}</td>
		</tr>
		{{/if}}
		{{#if manufacturer_data_file}}
		<tr>
			<th><label for="id_manufacturer_data_file">Manufacturer data file:</label></th>
			<td><a href="{{manufacturer_data_file}}">{{manufacturer_data_file}}</a></td>
		</tr>
		{{/if}}
		{{#if portable_data_file}}
		<tr>
			<th><label for="id_portable_data_file">Portable data file:</label></th>
			<td><a href="{{portable_data_file}}">{{portable_data_file}}</a></td>
		</tr>
		{{/if}}
		<tr>
			<th><label for="id_csv_data">CSV data file:</label></th>
			<td><a href="{{csv_data}}">CSV</a></td>
		</tr>
		<tr>
			<th><label for="id_latitude">Latitude:</label></th>
			<td>{{lat}}</td>
		</tr>
		<tr>
			<th><label for="id_longitude">Longitude:</label></th>
			<td>{{lon}}</td>
		</tr>
		{{#if alt}}
		<tr>
			<th><label for="id_altitude">Altitude:</label></th>
			<td>{{alt}}</td>
		</tr>
		{{/if}}
		<div class="plot-container">
			<span class="alert" id="instrument_message"><br/><br/></span>
			<div id="plotDiv" class="flotPlot"></div>
		</div>
	</table>
