<div class="item w2 lockAspect" id="item_{{ name }}" data-isStamped="false">  
	<div id="sample_view">
		<i class="icon-cancel-circled"></i>
		<i class="icon-lock-open pinDiv"></i>
		<div class="small default btn icon-right entypo icon-window" id="new-window-btn"><a href="#" id="new-window-target" target="_blank">New Window</a></div>
		
		<button class="small info btn prev-button"><i class="icon-left-dir"></i></button>
		<div class="sample-name" ><strong> {{ name }} </strong></div>
		<button class="small info btn next-button"><i class="icon-right-dir"></i></button>
		
		<div> <strong> Viewing sample</strong> <a id="edit_sample_button" href="../edit/{{ sample.label.number }}" class="mybutton small">Edit</a> </div>
		<input type=hidden name=sampleId value="{{ sample.pk }}">
		
		<table>
		<tr>
			<th><label for="id_name">Name:</label></th>
			<td> {{ sample.name }}</td>
		</tr>
		<tr>
			<th><label for="id_type">Type:</label></th>
			<td> {{ sample.type.display_name }}</td>
		</tr>
		<tr>
			<th><label for="id_region">Region:</label></th>
			<td>{{ sample.region.name }}</td>
		</tr>
		<tr>
			<th><label for="id_resource">Resource:</label></th>
			<td>{{ sample.resource.name }}</td>
		</tr>
		<tr>
			<th><label for="id_collector">Collector:</label></th>
			<td>{{ sample.collector }}</td>
		</tr>
		<tr>
			<th><label for="id_number">Number:</label></th>
			<td>{{ sample.label.number }}</td>
		</tr>
		<tr>
			<th><label for="id_triplicate">Triplicate:</label></th>
			<td>{{ sample.triplicate }}</td>
		</tr>	
		<tr>
			<th><label for="id_year">Year:</label></th>
			<td> {{ sample.year }}</td>
		</tr>
		<tr>
			<th><label for="id_flight">Flight:</label></th>
			<td>{{ sample.flight.name }}</td>
		</tr>
		<tr>
			<th><label for="id_latitude">Latitude:</label></th>
			<td>{{ sample.user_position.latitude }}</td>
		</tr>
		<tr>
			<th><label for="id_longitude">Longitude:</label></th>
			<td>{{ sample.user_position.longitude }}</td>
		</tr>
		<tr>
			<th><label for="id_altitude">Altitude:</label></th>
			<td>{{ sample.user_position.altitude }}</td>
		</tr>
		<tr>
			<th><label for="id_collection_time">Collection time:</label></th>
			<td>{% timezone sample.collection_timezone %}{{ sample.collection_time|date:"Y-m-d H:i e" }}{% endtimezone %}</td>
		</tr>
	</table>

		<input class="small info btn" type="submit" id="updateSampleInfoSubmit" value="Save" />	
</div>