<div class="plan-link" id="links-plan">
  <div class="tool-entry">
    <a href="/xgds_planner2/plan/bearingDistance/{{planId}}" target="_blank">Summary</a><br/>
	<a href="/xgds_planner2/plan/bearingDistanceTop/{{planId}}" target="_blank">Summary (Top only)</a><br/>
	{{#each planLinks}}
      	<a href="{{this}}" target="_new">{{@key}}</a><br/>
	{{/each}}
	<p>
	<h6>Call Sextant</h6>
	Save changes BEFORE calling<br/> 
	the Sextant path planner.<br/>
	This will calculate a path if your EVA is within an expected DEM<br/>
	and update the EVA with a detailed route.<br/>
	You can control how it is optimized on the Meta tab.<br/>
	You <strong>MUST</strong> choose an EV person and schedule<br/>
	the plan before you can call Sextant, use the Schedule tab.<br/>
	Note that running Sextant can take a few minutes.
	<br/>
	<form name='pextantForm' id="pextantForm" action="#" method="post">
		<input type="hidden" name="planId" id="id_planId" value="{{planId}}"></input>
		<table>
		<tr>
			<td><label for="id_optimize">Optimize On</label></td>
			<td><select name="optimize" id="id_optimize"> 
		        <option value="Energy" {{optimizeSelected "Energy" optimization}}>Energy</option>
		        <option value="Distance" {{optimizeSelected "Distance" optimization}}>Distance</option>
		        <option value="Time" {{optimizeSelected "Time" optimization}}>Time</option>
		        </select>
		    </td>
		</tr>
		<!--
		<tr>
			<td><label for="id_resolution">Map Resolution (m)</label></td>
			<td><input type="text" name="resolution" id="id_resolution" value="0.5"></input>
		    </td>
		</tr>
		-->
		<tr>
			<td><label for="id_slope">Max Slope</label></td>
			<td><input type="text" name="slope" id="id_slope" value="15"></input>
		    </td>
		</tr>
		</table>
		<input class="btn btn-primary" id="pextantButton"  type="submit" value="Call Sextant">
		<input class="btn btn-primary" id="clearPextantButton"  type="submit" value="Clear Sextant Path">
	</form>
	</p>
	<div id="pextantMessage" style="color:red;"><br/></div>
	</p>
  </div>
</div>
